body {
    background-color: lightgreen;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.game {
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.board {
    width: 70%;
    height: 70%;
    margin: 0 auto;
}

.row {
    width: 95%;
    height: 33%;
    display: flex;
    border: 10px solid pink;
}

.col {
    height: 90%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid pink;
}

#mole {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
}

.button {
    text-align: center;
    width: 100%;
    height: 50px;
    margin: 0 auto;
}

.button button {
    font-weight: bold;
    font-size: 20px;
    color: black;
    padding: 10px;
    background: skyblue;
    border-radius: 10px;
    border: 5px solid gold;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.player-one-score {
    display: inline-block;
    position: absolute;
    top: 0%;
    left: 5%;
    width: 10%;
    font-size: 20px;
    background: lightpink;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.player-two-score {
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 10%;
    font-size: 20px;
    background: lightpink;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}





